<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv=""X-UA-Compatible" content="IE=edge">
        <title>PPSC Cyber Club</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">  
        <link href="/assets/css/style.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/203c33e277.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="site-wrap">
            <div class="top">
            <header>
                <img src="/assets/images/cyberlogo.png" class="logo" alt="Pikes Peak State College Cyber Club">
            </header>
            <nav>
                <ul>
                    <li class="nav-link"><a href="/main/index.html">Home</a></li>
                    <li class="nav-link"><a href="/about/index.html">About</a></li>
                    <li class="nav-link"><a href="/ctf/index.html">CTF</a><li>
                </ul>
            </nav>
        </div>
            <section class="main">
                <aside class="sidebar">
                    {% include "_partials/calendar.njk" %}
                </aside>
    {{ content | safe }}
            </section>
        </div>
    </body>
    </html>