/* Site Variables for CSS - use like so:  background-color: var(--bgcolor); */
:root {
    --bgcolor: #002855; /* PPSC Navy Blue */
    --accent: #0dc7bc; /* PPSC Cyber Club Ice Blue, mostly for borders */
    --white: #fff; /* White */
    --text-color: #202020; /* Off-black, for Text on White Backgrounds */
    --link-color: #038dcf; /* Medium Blue, use for links */
    --main-font: 'JetBrains Mono', monospace; /* Main Font */
    --accent-font: 'Inter', sans-serif; /* Accent Font */
    --font-size: 1rem; /* Font Size Min 16px = 1rem */
}

/* Body Styles for "Log In" Page */
body {
  margin: 0;
  height: 100vh;
  background-color: var(--bgcolor); /* PPSC Navy Blue */
  font-family: var(--main-font); /* JetBrains Mono */
  font-size: var(--font-size); /* 16px = 1rem */
}

/* Cyber Logo Styles */
.cyber-logo {
  display: flex; /* This is how we get a flexbox container */
  justify-content: center; /* Used with display: flex; - this will center items horizontally on the screen */
  margin-top: 3.125rem; /* Puts this section 50 pixels from the top of the page so we can move the logo down a bit */
}

.cyber-logo img {
  width: 15%; /* since our logo image is gigantic, this makes it show up at 15% of its original width */
  height: 15%; /* since our logo image is gigantic, this makes it show up at 15% of its original height */
}

/* Login Form */
.the-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* This makes our "form" sit 20px below the logo! */
  width: 100%;
}

.login {
  text-align: left;
  color: #fff;
  font-size: 1rem;
}

.login input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #0dc7bc;
  font-family: 'JetBrains Mono', monospace;
}

.enter {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  text-align: center;
  border: 2px solid #0dc7bc;
  border-radius: 5px;
  background-color: #002855;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'JetBrains Mono', monospace;
}

.login a {
  text-decoration: none;
}