/* Site Variables for CSS - use like so:  background-color: var(--bgcolor); */
:root {
    --bgcolor: #002855; /* PPSC Navy Blue */
    --accent: #0dc7bc; /* PPSC Cyber Club Ice Blue, mostly for borders */
    --white: #fff; /* White */
    --text-color: #202020; /* Off-black, for Text on White Backgrounds */
    --link-color: #038dcf; /* Medium Blue, use for links */
    --accent-font: 'JetBrains Mono', monospace; /* Main Font */
    --main-font: 'Inter', sans-serif; /* Accent Font */
    --font-size: 1rem; /* Font Size Min 16px = 1rem */
}

/* Body Styles for "Log In" Page */
body {
  margin: 0;
  height: 100vh;
  background-color: var(--bgcolor); /* PPSC Navy Blue */
  font-family: var(--accent-font); /* JetBrains Mono */
  font-size: var(--font-size); /* 16px = 1rem */
}

/* Cyber Logo Styles */
.cyber-logo {
  display: flex; /* This is how we get a flexbox container */
  justify-content: center; /* Used with display: flex; - this will center items horizontally on the screen */
  margin-top: 3.125rem; /* Puts this section 50 pixels from the top of the page so we can move the logo down a bit */
}

/* Login Form */
.the-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.25rem; /* This makes our "form" sit 20px below the logo! */
  width: 100%;
}

.login {
  text-align: left;
  color: var(--white);
  font-size: var(--font-size);
}

.login input {
  width: 12.5rem;
  height: 1.875rem;
  border-radius: 0.313rem;
  border: 0.125rem solid var(--accent);
  font-family: var(--accent-font);
  margin-bottom: 0.313rem;
  padding-left: 0.313rem;
}

.enter {
  margin-top: 0.625rem;
  width: 6.25rem;
  height: 1.875rem;
  text-align: center;
  border: 0.125rem solid var(--accent);
  border-radius: 0.313rem;
  background-color: var(--bgcolor);
  color: var(--white);
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--accent-font);
  cursor: pointer;
}

.the-form a {
  text-decoration: none;
}