---
layout: login.njk
title: PPSC Cyber Club - Portal Access
---
<section class="cyber-logo">
  <img src="/assets/images/cyberlogo.png">
</section>
<section class="the-form">
<form class="login">
<label for="user" class="user">Username:</label><br>
<input type="text" aria-label="username" name="username" value="Guest" disabled><br>
<label for="pass" class="pass">Password:</label><br>
<input type="text" aria-label="password" name="password" value="*****************" disabled><br>
</form>
<a href="/main/index.html"><button class="enter">Enter Site</button></a>
</section>