---
layout: login.njk
title: PPSC Cyber Club - Portal Access
---
<section class="cyber-logo">
  <img src="/assets/images/cyberlogo2.png">
</section>
<section class="the-form">
<section class="fake-form">
<form class="login">
<label for="user" class="user">Username:</label><br>
<input type="text" aria-label="username" name="username" value="Guest" disabled><br>
<label for="pass" class="pass">Password:</label><br>
<input type="text" aria-label="password" name="password" value="*****************" disabled><br>
</form>
</section>
<section class="enter-site">
<div id="enter-btn" class="enter"><i class="fa-solid fa-arrow-right"></i></div>
<script>
  const enterBtn = document.getElementById('enter-btn');
  const clickSound = new Audio('/assets/sounds/mouseclick.mp3');
  clickSound.preload = 'auto';
  enterBtn.addEventListener('click', (e) => {
    e.preventDefault();
    clickSound.currentTime = 0;
    clickSound.play();
    clickSound.addEventListener('ended', () => {
      window.location.href = '/main/index.html';
    });
    setTimeout(() => {
      window.location.href = '/main/index.html';
    }, 300);
  });
  </script>
  </section>
</section>